/* This stylesheet is mainly for presentation purposes and
should not impact functionality or purpose of main component */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: hsl(221, 16%, 27%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
main {
    display: grid;
    place-items: center;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 7vw;
        text-align: center;
    }
}
section {
    flex: 1;
    display: grid;
    place-items: center;
}
.attribution {
    font-size: 11px;
    text-align: center;
    padding: 1rem;
}
.attribution a { color: hsl(228, 45%, 44%); }